
.jumbotron {
    padding-top: 6rem;
    background-color:lightsteelblue;
    
}

#projects {
  
    background-color:lightsteelblue;
}

section {
    padding-top: 5rem;
}

footer {
    margin-top: 6rem;
    padding-top: 3rem;
  padding-bottom: 3px;
  
}



.copyright {
    
   
}